<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportapp">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportApp">
        <activity
            android:name=".SessionScreen"
            android:exported="false" />
        <activity
            android:name=".createSession"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- This element is required to enable Google Pay in your app. -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".SessionsList"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SessionsScreen"
            android:exported="false" />
        <activity
            android:name=".TrainerListProfile"
            android:exported="false" />
        <activity
            android:name=".sportTrainersList"
            android:exported="false" />
        <activity
            android:name=".ExpertisesSelect"
            android:exported="false" />
        <activity
            android:name=".SportList"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ShowUsers"
            android:exported="false" />
        <activity
            android:name=".QueryActivity2"
            android:exported="false" />
        <activity
            android:name=".QueryActivity1"
            android:exported="false" />
        <activity
            android:name=".SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".SignedIn"
            android:exported="false" />

        <service
            android:name=".TestService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>